body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.date {
  margin-left: 10px;
}

.button {
  padding: 10px 20px;
  color: white;
  border:none;
}

.analog {
  margin-bottom: 10px;
  display: block;
}

.active {
  background: green;
}

.inActive {
  background: red;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 80px;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.App-intro {
  font-size: large;
}
